
.wrapper {
  background-color: #1c1861;
  background-image: url("../img/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display:grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 2em
}

.Logo-Wrapper {
  grid-column: 2;
  grid-row: 1;
  position: relative;
}

.Clock-Wrapper {
  grid-row: 1;
}

.NavButton-Wrapper {
  grid-row: 2;
  grid-column: 2;
}

.App-Logo {
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  grid-template-columns: 1fr;


}

.Logo-Time {
  grid-row: 1;
  font-style: italic;
  text-align: center;
  font-size: 16pt;
  text-shadow: 1px 1px black;
  color: darkgoldenrod;
}

.Logo-Image {
  grid-column: 1;
  grid-row: 2
;
  align-content: center;
  object-fit: scale-down;
  align-content: center;
  width: 100%;
  max-height: 100%;

}

.Logo-Text {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  font-style: italic;
  color: darkgoldenrod;
  text-shadow: 2px 2px black;
  font-size: 36pt;
}

.Area-Button {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
}

#map {
   grid-row: 2;
   padding: 5px;
   font-style: italic;
   font-size: 24pt;
   color: darkgoldenrod;
   opacity: 80%;
 }

#weather {
  grid-row: 3;
  padding: 5px;
  font-style: italic;
  font-size: 24pt;
  color: darkgoldenrod;
  opacity: 80%;
}

#schedule {
  grid-row: 4;
  padding: 5px;
  font-style: italic;
  font-size: 24pt;
  color: darkgoldenrod;
  opacity: 80%;
}
