.Map-Wrapper {
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5fr;
  grid-template-columns: 7fr;
  padding: 1em;
}

.Map-Container {
  grid-row: 1;
  grid-column: 1;
  padding: 1em;
  width: 100%;
  height: 100%;
}
