
.Map-Wrapper {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
}

.Map-Image {
  grid-row: 2;
  grid-column: 2;
  height: 35vh;
}

.QR-Link {
  grid-row: 1;
  grid-column: 1;
  opacity: 80%;
}

.QR-Download {
  grid-row: 1;
  grid-column: 3;
  opacity: 80%;
}

.Download-Buttons-Wrapper {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
}