.Calendar-Wrapper {
  grid-row: 2;
}

.Calendar {
  max-width: 100%;
  height: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.Calendar-Style {
  border-width:0;
  height: 100%;
  width: 100%;

}
