
.start {
  grid-row: 3;
  opacity: 80%;
  text-decoration: none;
  color: white;


}

 #start-button {
  height: 100%;
  width: 100%;
  color: darkgoldenrod;
  font-style: italic;
  font-size: 24pt;
  opacity: 80%;
 }
